  body{
    background-color:silver;
  }

h1{
  color:purple;
}
h2{
  color:blue;
}
h3{
  color:brown;
}
h4{
  color:brown;
}

h5{
  color:pink;
}
  hr{
    border-style:none;
    border-top-style:dotted;
    border-color:blue;
    border-width:20px;
    width:30%;
  }

  img{
    height: 200px
  }
